$containerWidth: 1170px;
$gap :20px;
$columnsCount:12;
$colWidth:100% / $columnsCount;
* {
    box-sizing: border-box;
}

.container {
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
}

.ba-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
}

.ba-row+.ba-row {
    margin-top: 1em;
}

[class^='ba-col'] {
    padding-left: $gap;
    padding-right: $gap;
    width: 100%;
}

@for $i from 1 through $columnsCount {
    .ba-col-#{$i} {
        width: $colWidth * $i;
    }
}


/* ba-common */

.ba-text-center {
    text-align: center;
}

.ba-text-right {
    text-align: right;
}

.ba-text-left {
    text-align: left;
}

.ba-text-justify {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}