
@font-face {
  font-family: 'LemonMilkRUSBYLYAJKA';
  src: url('LemonMilkRUSBYLYAJKA.eot?#iefix') format('embedded-opentype'),  url('LemonMilkRUSBYLYAJKA.woff') format('woff'), url('LemonMilkRUSBYLYAJKA.ttf')  format('truetype'), url('LemonMilkRUSBYLYAJKA.svg#LemonMilkRUSBYLYAJKA') format('svg');
  font-weight: normal;
  font-style: normal;
}
